footer{

    background-color: green;
    height: 100px;
}

.link{
    width: 15%;
    height: 10%;
    margin:20px 20px 20px 20px;
    float: right;
}

.link2{
    width: 15%;
    height: 10%;
    margin:20px 20px 20px 20px;
    float: left;
}

.link3{
    width: 15%;
    height: 10%;
    margin:20px 20px 20px 25%;
}