
.a2{
    width: 100%;
    height: 100px;
    background-color: green;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    
}
.a1{
    text-align: center;
}


header{
    width: 100%;
    height: 100px;
    background-color: gold;
    margin: 10px 10px 10px 10px;
}


nav{
    width: 100%;
    height: 50px;
    background-color: red;
    margin: 10px 10px 10px 10px;
    

}

.art1{
    width: 60%;
    height: 300px;
    background-color: blue;
    margin: 10px 10px 10px 10px;
    display: inline-block;


}

.p1{ 
    width: 40%;
    height: 200px;
    background-color: yellow;
    margin: 5px 50px 10px 50px;
    display: inline-block;
}
.p1 img{
    width: 50px;
    
    display: inline-block;
}
.p2{
    background-color: greenyellow;
    display: inline-block;
    width: 40%;
    height: 200px;
    margin: 5px 50px 10px 50px;

}

.art2{
    width: 100%;
    height: 275px;
    background-color:grey;
    margin: 10px 10px 10px 10px;
}


.e1{
    width: 45%;
    height: 200px;
    background-color: palegreen;
    display: inline-block;

    margin: 40px 100px 10px 40px;
    
}
.e2{
    width: 45%;
    height: 200px;
    background-color:palegreen;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    
}



.link{
    width: 15%;
    height: 15%;
    margin:15px 15px 15px 15px;
    float: right;
}
.link2{
    width: 15%;
    height: 15%;
    margin:15px 15px 15px 15px;
    float: left;
}

.link3{
    width: 15%;
    height: 15%;
    margin:15px 15px 15px 25%;
}

.art1 h1{
    text-align: center;
}
footer{
background-color:purple;
}












